@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.fixed__left_block, .fixed__right_block {
  position: fixed;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  z-index: 9999;
}

.fixed__right_block {
  right: 0;
  justify-content: center;
}
.fixed__right_block .fixed__name {
  transform: rotate(90deg);
}

.fixed__logo {
  cursor: pointer;
}

.fixed__name {
  transform: rotate(270deg);
  white-space: nowrap;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.fixed__social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.4s;
}

.social__arrow-open {
  transition: all ease 0.4s;
}

.social__arrow-close {
  display: none;
}

.social__event {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fixed__social-open {
  position: absolute;
  top: 0;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-60px);
  transition: all ease 0.4s;
}
.fixed__social-open a {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1500px;
}

.portfolio {
  transform-style: preserve-3d;
  height: 100%;
}

.header, .frame__title, .frame, .frame-l, .frame-l__text {
  will-change: transform;
  transform-style: preserve-3d;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition) opacity;
  transform-style: preserve-3d;
}

.frame__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 736px;
  font-size: 28px;
  line-height: 36px;
}
.frame__title p {
  text-align: center;
}

.frame-l__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 130%;
}

.frame-l__scroll-curcle {
  width: 35px;
  height: 79px;
  display: flex;
  align-items: end;
  justify-content: center;
  background: #181818;
  animation: curcle 2s ease 0.9s infinite;
}

@keyframes curcle {
  0% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0px);
  }
}
.frame-l__scroll-img {
  margin-bottom: 24px;
}

.frame-l__text {
  color: rgba(255, 255, 255, 0.656);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.frame__block {
  position: relative;
  width: 320px;
  height: 420px;
  background: #fff;
  border-radius: 28px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all ease 0.25s;
}
.frame__block:hover {
  cursor: pointer;
  box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.24);
  transform: scale(1.03);
}

.frame__block-icon {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  z-index: 1;
}

.keys-1 .frame__block-img {
  background: url(./assets/georgeWebsite.png) 50% no-repeat;
  background-size: cover;
}

.keys-4 .frame__block-img {
  background: url(./assets/nft.png) 50% no-repeat;
  background-size: cover;
}

.keys-2 .frame__block-img {
  background: url(./assets/react.png) 50% no-repeat;
  background-size: cover;
}

.keys-3 .frame__block-img {
  background: url(./assets/horses.png) 50% no-repeat;
  background-size: cover;
}

.frame__block-img {
  margin-bottom: 24px;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  image-rendering: -moz-crisp-edges; /* Firefox */ /* IE */
  image-rendering: crisp-edges;
}

.frame__info {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0.76) 100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  opacity: 0;
  transform: translate3d(145px, -145px, 0), scale(0);
  transition: all ease 0.4s;
}
.frame__info p {
  color: #FFF;
  text-align: center;
  font-family: "MontR";
  font-size: 16px;
  line-height: 24px;
}

.frame__info-active {
  opacity: 1;
  transform: translate3d(0, 0, 0), scale(1);
}

.frame__block-title {
  color: #181818;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  transform-style: preserve-3d;
  margin-bottom: 8px;
}

.frame__block-subtitle {
  transform-style: preserve-3d;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.frame-left {
  right: calc(var(--index) * var(--side-small) / 2 + var(--gutter));
}

.frame-right {
  left: calc(var(--index) * var(--side-small) / 2 + var(--gutter));
}

.frame-bg {
  background-color: rgba(23, 23, 23, 0.8117647059);
}

.after {
  position: relative;
  width: 100vw;
  background: #181818;
  padding: 0px 0px 12px 0px;
}

.after__about, .after__contact {
  width: 80%;
  margin: 0 auto;
  border-radius: 28px;
  background: #181818;
  box-shadow: 0px 0px 80px 0px #080808;
  margin-bottom: 80px;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.about {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 60px;
}

.about__title {
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 2px;
}
.about__title svg {
  margin-bottom: 16px;
}

.about__text {
  color: rgba(255, 255, 255, 0.56);
  max-width: 538px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 5px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.skills__item {
  position: relative;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 0px;
}
.skills__item img {
  transform: translateY(3px);
}

.skills__title {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 12px;
  right: 12px;
  font-family: "MontL";
  font-size: 12px;
  line-height: 16px;
}

.contact {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 60px 0;
  background: url(./assets/smooke.png);
  background-size: cover;
  margin-bottom: 40px;
}

.contact__figure {
  justify-self: center;
  width: 142px;
  height: 110px;
  background: url(./assets/figure.svg);
  background-size: cover;
}

.contact__content {
  margin-left: 5px;
}

.contact__title {
  justify-content: left;
  margin-bottom: 36px;
}
.contact__title h2 {
  align-items: start;
}

.contact__item {
  margin-bottom: 32px;
}

.contact__subtitle {
  color: rgba(255, 255, 255, 0.56);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.contact__name {
  position: relative;
  color: #FFF;
  font-size: 20px;
  line-height: 24px;
}
.contact__name::before {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: #fff;
  transition: all ease 0.4s;
}
.contact__name:hover::before {
  content: "";
  width: 100%;
}

.after__footer {
  text-align: center;
}

.after__footer-text {
  color: rgba(255, 255, 255, 0.64);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.mobile {
  width: 100%;
  height: 100%;
  background: #181818;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.mobile__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile__img {
  margin-bottom: 24px;
}

.mobile__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.mobile__text {
  color: rgba(255, 255, 255, 0.56);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 900px) {
  .mobile {
    display: flex;
  }
  .wrapper {
    display: none;
  }
  .after {
    display: none;
  }
}
@font-face {
  font-family: "MontB";
  src: url("./assets/Mont-Bold.ttf");
}
@font-face {
  font-family: "MontL";
  src: url("./assets/Mont-Light.ttf");
}
@font-face {
  font-family: "MontR";
  src: url("./assets/Mont-Regular.ttf");
}
@font-face {
  font-family: "MontS";
  src: url("./assets/Mont-SemiBold.ttf");
}
:root {
  --index: calc(1vw + 1vh);
  --gutter: 100px;
  --depth: 200px;
  --transition: .75s cubic-bezier(.075, .5, 0, 1);
  --side-small: 15;
  --side-big: 20;
}

body {
  background: #181818;
  color: #fff;
  font-family: "MontL";
  height: var(--depth);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  width: 200vw;
  display: flex;
}