
.fixed__left_block, .fixed__right_block{
  position: fixed;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  z-index: 9999;
}
.fixed__right_block{
  right: 0;
  justify-content: center;
  .fixed__name{
    transform: rotate(90deg);
  }
}
.fixed__logo {
  
}
.fixed__name {
  transform: rotate(270deg);
  white-space: nowrap;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.fixed__social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease .4s;
}

.social__arrow-open {
  transition: all ease .4s;

}
.social__arrow-close {
  display: none;
}
.social__event{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fixed__social-open {
  position: absolute;
  top: 0;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;  
  pointer-events: none;
  a{
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  opacity: 0;
  transform: translateX(-60px);
  transition: all ease .4s;
}
