// файлы
@import "nullstyle";
@import "fixed";
@import "keys";
@import "after";
@import "mobile";




// шрифты
@font-face {
  font-family: "MontB";
  src: url('./assets/Mont-Bold.ttf');

}
@font-face {
  font-family: "MontL";
  src: url('./assets/Mont-Light.ttf');
}
@font-face {
  font-family: "MontR";
  src: url('./assets/Mont-Regular.ttf');
  
}
@font-face {
  font-family: "MontS";
  src: url('./assets/Mont-SemiBold.ttf');

}




// миксины




:root{
  // для резиновой верстки
  --index: calc(1vw + 1vh);
  // для отступов
  --gutter: 100px;
  // глубина 
  --depth: 200px;
  // animation
  --transition: .75s cubic-bezier(.075, .5, 0, 1);
  // для короткой и длинной стороны
  --side-small: 15;
  --side-big: 20;
}

body{
  background: #181818;;

  color: #fff;
  font-family: 'MontL';
  height: var(--depth);
  scroll-behavior: smooth;
  overflow-x: hidden;

}

.wrapper{
  width: 200vw;
  display: flex;

}


